ul.social-network{
    list-style: none;
   
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;   
}

.fa{
    font-size: 35pt; 
    color:purple;
    padding: 10px;
}

.fa-github:hover{
color:white;
}

.fa-instagram:hover{
    color:white;
    }

.fa-linkedin-square:hover{
    color:white;
}

    .bg{
        background: linear-gradient(to bottom, yellow, rgb(87, 0, 128));
    }

    .bg-footer{
        background-color: purple;
    }