#img-bg{
    background-image: url('https://images.unsplash.com/photo-1601046500409-1af2290deeaa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80');
    background-position:center ;
    min-height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: purple;
    color: white;
}